:root {
  --background: #cce3f7;
  --ui_background: #ecf4fb;
  --ui_border: #000000;
}

html {
  margin: 0;
  padding: 0;
  background-color: var(--background);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 45vmax;
  background-color: var(--background);
}

.top-bar, .left-bar, .right-bar, .bottom-bar {
  position: fixed;
  z-index: 10;
  padding: 10px;
}

.top-bar {
  top: 0;
  left: 0;
  right: 0;
  background: blue;
  height: 15px;
}

.bottom-bar {
  bottom: 0;
  left: 0;
  right: 0;
  background: pink;
  height: 10px;
}

.left-bar {
  top: 0;
  left: 0;
  bottom: 0;
  width: 30px;
  background: aqua;
}

.right-bar {
  top: 0;
  right: 0;
  bottom: 0;
  width: 120px;
  background: greenyellow;
}

.canvas-area {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background: purple;
  height: 100vh;
}

#gl_canvas {
  /* background: black; */
  width: 900px; 
  height: 450px; 
  border: 2px solid white;
  z-index: 2;
}