:root {
  --background: #cce3f7;
  --ui_background: #ecf4fb;
  --ui_border: #000000;
}

html {
  margin: 0;
  padding: 0;
  background-color: var(--background);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 45vmax;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  padding: 10px;
  gap: 10px;
}

.header_container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.t_header {
  flex: 1;
  height: 8vh;
  background-color: var(--ui_background);
  border: solid 2px var(--ui_border);
}

.content_container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
  flex: 1;
}

.t_leftui {
  width: 10vh;
  height: 500px;
  background-color: var(--ui_background);
  border: solid 2px var(--ui_border);
}

#gl_canvas {
  height: 100%;
  width: 100%;
}

.t_canvas {
  background-color: white;
  width: 500px;
  height: 500px;
  border: solid 2px var(--ui_border);
}

.t_rightui {
  width: 10vh;
  height: 500px;
  background-color: var(--ui_background);
  border: solid 2px var(--ui_border);
}

.t_footer {
  height: 5vh;
  background-color: var(--ui_background);
  border: solid 2px var(--ui_border);
}
